<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MJ.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>3661EBFDB64D2347DCB99E59A167F702789087DC</string>
				<key>dateExpires</key>
				<string>06/06/2020</string>
				<key>type</key>
				<string>iOS Development</string>
				<key>url</key>
                		<string>https://m.wujifu1688.com:444/ssl/fc0617.ipa</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3661EBFDB64D2347DCB99E59A167F702789087DC</string>
						<key>dateExpires</key>
						<string>06/06/2020</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4NRL5TJ3U7</string>
						<key>name</key>
						<string>Hongkong Zhiyuan futures Co., Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3661EBFDB64D2347DCB99E59A167F702789087DC</string>
						<key>dateExpires</key>
						<string>06/06/2020</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FMDB.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4NRL5TJ3U7</string>
						<key>name</key>
						<string>Hongkong Zhiyuan futures Co., Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3661EBFDB64D2347DCB99E59A167F702789087DC</string>
						<key>dateExpires</key>
						<string>06/06/2020</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>JGProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4NRL5TJ3U7</string>
						<key>name</key>
						<string>Hongkong Zhiyuan futures Co., Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3661EBFDB64D2347DCB99E59A167F702789087DC</string>
						<key>dateExpires</key>
						<string>06/06/2020</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>LeanCloud.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4NRL5TJ3U7</string>
						<key>name</key>
						<string>Hongkong Zhiyuan futures Co., Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3661EBFDB64D2347DCB99E59A167F702789087DC</string>
						<key>dateExpires</key>
						<string>06/06/2020</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>LinearProgressBar.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4NRL5TJ3U7</string>
						<key>name</key>
						<string>Hongkong Zhiyuan futures Co., Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3661EBFDB64D2347DCB99E59A167F702789087DC</string>
						<key>dateExpires</key>
						<string>06/06/2020</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4NRL5TJ3U7</string>
						<key>name</key>
						<string>Hongkong Zhiyuan futures Co., Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3661EBFDB64D2347DCB99E59A167F702789087DC</string>
						<key>dateExpires</key>
						<string>06/06/2020</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Starscream.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4NRL5TJ3U7</string>
						<key>name</key>
						<string>Hongkong Zhiyuan futures Co., Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3661EBFDB64D2347DCB99E59A167F702789087DC</string>
						<key>dateExpires</key>
						<string>06/06/2020</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SwiftProtobuf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4NRL5TJ3U7</string>
						<key>name</key>
						<string>Hongkong Zhiyuan futures Co., Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3661EBFDB64D2347DCB99E59A167F702789087DC</string>
						<key>dateExpires</key>
						<string>06/06/2020</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>YLProgressBar.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4NRL5TJ3U7</string>
						<key>name</key>
						<string>Hongkong Zhiyuan futures Co., Limited</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>4NRL5TJ3U7.com.mj.caifeng</string>
				<key>com.apple.developer.team-identifier</key>
				<string>4NRL5TJ3U7</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>4NRL5TJ3U7.com.mj.caifeng</string>
				</array>
			</dict>
			<key>name</key>
			<string>MJ.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>b4e5502d-02e2-4c55-9edc-83ad0ae6a5c2</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>4NRL5TJ3U7</string>
				<key>name</key>
				<string>Hongkong Zhiyuan futures Co., Limited</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
